.contact-section {
    position: relative;
    background-image: url('../imges/akbkk.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .overlay {
    padding: 20px;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  p {
    font-size: 1.2rem;
    max-width: 800px;
    line-height: 1.6;
  }
  
  @media (max-width: 768px) {
    .contact-section{max-height:30vh;}
    .pconta{
      font-size: 0.8rem;
      margin-left: -10px;
    }
    
    .h1conta{
      font-size: 2rem;
      margin-left: -10px;
    }
  }
