/* إعادة ضبط الافتراضيات */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* حاوية الخريطة */
.map-container {
  position: relative;
  background-color: #102040;
  color: #fff;
  margin-top: 150px;
  width: 100%;
}

/* إعداد الخريطة */
.leaflet-map {
  display: flex;
  height: 400px;
  width: 100%;
  position: relative;
}


.info-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #bf6a1b86; 
  padding: 16px;
  height: auto;
  gap: 10px;
  flex-wrap: wrap;
  z-index: 1000;
}

.info-footer div {
  text-align: center;
  min-width: 120px;
}

.info-footer strong {
  font-size: 1rem;
  display: block;
}

.info-footer p {
  font-size: 0.9rem;
  margin: 4px 0;
  color: #fff;
}


@media (max-width: 768px) {
  .leaflet-map {
    height: 500px; 
  }

  .info-footer {
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 5px; 
    padding: 10px;
  }

  .info-footer div {
    width: 100%; 
    max-width: 300px; 
  }

  .info-footer strong {
    font-size: 0.7rem;
  }

  .info-footer p {
    font-size: 0.6rem; 
  }
}

@media (max-width: 480px) {
  .leaflet-map {
    height: 350px;
  }

  .info-footer {
    padding: 8px;
    gap: 2px; 
  }

  .info-footer div {
    min-width: 100%; 
    text-align: center;
  }

  .info-footer strong {
    font-size: 0.6rem;
  }

  .info-footer p {
    font-size: 0.5rem;
  }
}
