

.footer {
  background: linear-gradient(180deg, #0c1728, #162a47);
  color: white;
  padding: 8px 0; 
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin-right: 20px;  
}

.footer-section{margin-top:50px ;
}
a{text-decoration: none;
color: #ffffff;}
.footer-section h4 {
  color: #fff;
  padding-left: 10%; 
  text-align: left;
}

.footer-section ul {
  list-style-type: none;
  padding: 10%; 
  text-align:left;
}

.footer-section ul li {
  margin-bottom: 5px; 
  cursor: pointer;
}

.footer-section input {
  padding: 6px;
  margin-right: 6px; 
  background-color: transparent;
  border-radius: 30px;
  border-color: #fff;
}

.footer-section button {
  background-color:#AF621B;
  color: white;
  padding: 5px 12px; 
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.footer-bottom {
  margin-top: 10px; 
  border-top: 1px solid #fefefe;
  padding-top: 4px; 
}

.text {
  flex: 1;
  margin: 15px;
  text-align: left;
  font-size: 16px;
}
.foo{display: flex;
  justify-content: 40px;
  margin-left: 45px;
  border: none;}

  h4{font-size: 18px;}
  .footerpp{font-size: 18px;}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-section {
    width: 100%;
    text-align: center;
    padding: 6px;}

  .footer-section h4 {
    padding-left: 0;
    padding: 6px;
    margin-left: 10px;

  }

  .footer-section ul {
   
    padding: 6px;
    margin-left: 10px;
  }

  .footer-section input, 
  .footer-section button {
    width: 80%;
    margin: 6px 0;
  }

  .footer-bottom {
    text-align: center;
  }
  .footerpp{ text-align: left;
  margin-left: 10px;
max-width:400px;}
.foo{max-width:130px;
  transform: translateX(10px);}
  
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    width: 100%;
    text-align: left;  /* تغيير المحاذاة إلى اليسار */
    padding: 6px;
    margin-left: 10px;  /* إضافة هامش يسار مشابه لـ .footerpp */
  }

  .footer-section h4 {
    padding-left: 0;
    padding: 6px;
    margin-left: 10px;  /* إضافة هامش يسار مشابه لـ .footerpp */
  }

  .footer-section ul {
    padding: 6px;
    margin-left: 10px;  /* إضافة هامش يسار مشابه لـ .footerpp */
  }

  .footer-section input, 
  .footer-section button {
    width: 80%;
    margin: 6px 0;
  }

  .footer-bottom {
    text-align: center;
  }

  .footerpp {
    text-align: left;
    margin-left: 10px;
    max-width: 400px;
  }

  .foo {
    max-width: 130px;
    transform: translateX(10px);
  }
}
