
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden; 
}

  .start {
    width: 100%;
    height: 800px;
    background: url('./imges/home (3).png');
    background-size: cover;
    
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 600px;
}

  
  .hero-content {
    max-width: 100%;
    margin-left:10px;
    margin-top: -40px; 
    animation: fadeInUp 2.5s ease-out;  
  }
  
  
  
  h1{
    font-size: 500px;
    margin-left: 80px;
  }
  
  .pl {
      margin-bottom: 15px;
      margin-left:80px ;
      color: #ffffff;
      max-width: 600px;
  }
  h2{  font-size:0.7em;
    margin-bottom: 15px;
    margin-left:30px ;
    color: #fff;}
  
    
   .hh2 {
         margin-left: 44px;}
    
  
  .see-more {
      color: white;
      text-decoration: none;
      border-bottom: 2px solid;
      animation: fadeInUp 2s ease-out; 
      font-size: 0.9em;
      margin-bottom: 15px;
      margin-left:80px ;
     
  }
  
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -250px; 
   height: 1000px;
    position: relative;
   
   
  }
  .about-section {
    padding: 30px; }
  
  .about-content h2 {
    font-size:24px;
    margin-bottom: 15px;
  }
  
  .about-content p {
    font-size:16px;
    margin-bottom: 20px;
  }
  
  .about-content h2,
  .about-content p {
      margin-top: 40px; 
      margin-bottom: 30px; 
  }
  
  
  .get-started {
    padding: 10px 20px;
    background-color: #AF621B;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    margin-bottom: 20px;
    margin-left: 50px;
    border-radius: 30px;
  }
  .get-started:hover{background-color: #8d4b0e;}
  .about-image {
    transition: opacity 1s, transform 1s; 
  }
  
  .about-image img {
    width: 500px;
    height: 650px;
    margin-right: 100px;
  }
  
  .about-content,
  .about-image {
      opacity: 0; 
      transition: opacity 1s, transform 1s; 
  }
  
  
  .about-content.appear {
      opacity: 1; 
      transform: translateX(0); 
  }
  
  .about-image.appear {
      opacity: 1; 
      transform: translateX(0); 
  }
  
  
    .slider {
      position: relative;
      width: 100%;
      max-width: 1200px;
      margin: auto;
      overflow: hidden;
    }
    
    .slider-content {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }
    
    .slide {
      min-width: 100%;
      height: 400px; 
      background-size: cover;
      background-position: center;
      transition: opacity 1s ease-in-out;
    }
    
    .active {
      opacity: 1;
    }
    
    .dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
    
    .dot {
      width: 10px;
      height: 10px;
      margin: 0 5px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;
      opacity: 0.5;
    }
    .dot.active {
      background-color:#AF621B; 
      opacity: 1;
    }
    .productImage{display:inline;}
  
    Link{color: #ffffff;}
  
    .link-text {
      color: #ffffff;
      text-decoration: none; 
  }
  
  @keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
  }
  
  .hero-content {
    
    margin-left: 70px;
    margin-top: -40px; 
    animation: slideInFromRight 2.5s ease-out; 
  }
  
  body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
   
  }

@media (max-width: 932px) {
  .start {
    max-height:47vh;
    padding: 0; 
    background-size: 100% 100%;
  }

  .hero-content {
    text-align: left; 
    max-width: 700px;
    padding: 20px;
  }

  hero-content .see-more {
    display: inline-block;
    font-size:0.9rem;
    padding: 10px 20px;
    color: white; 
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top:-20px;
    margin-left:40px;
  }
  
  .hero-content .see-more:hover {
    background: #b06d0a;
  }

  .about-section {
    flex-direction: column; 
    padding: 5px;
    margin: 0;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 500px;
    background-color: transparent; 
    margin-top:10px;}


  .about-content {
  margin: 0 25px -10px -2px;
  text-align: justify; 
  }

  .about-image img {
    width: 100%;
    height: auto;
  }


  .dots .dot {
    width: 8px;
    height: 8px;
  }
.about-image{margin: 0;
  padding: 0;
  margin-top: -140px;
  margin-bottom: 610px;
  margin-left: -170px;
  width: 450px;
  height: 400px;
  max-height:200px;
}

h1 {
  font-size: 20px !important;
  max-width: 700px;
  margin-top: 70px;
  margin-left:50px;
}

.pl {
  text-align: left;
  max-width: 700px;
  font-size: 0.6rem !important;
  margin-left: 50px;
  margin-top:-10px;
 
}

.hero-content .see-more {
  font-size: 0.6rem !important; 
  margin: 0;
  padding: 0;
  margin-left: 50px;
  margin-top:-30px;
}

.hh2 {
margin-left:9px;
font-size: 18px !important;}

  .about-section .pkj {
    font-size: 10px !important;
    margin-left:11px;
    margin-top:-20px;
    
  }
  .pkj{font-size:10px !important;
 }
  .get-started{
    margin-left:9px;
    text-align: left;
    font-size: 12px !important;
    margin-top:-25px;
  
  }
  .hero-content h1 {
    margin-bottom: 5px; 
  }
  .see-more{margin-top:-30px !important; }


 
  .get-started {
    position: absolute;
    top: 230px; 
    left: 0px; 
    z-index: 1;
    font-size: 12px;
    text-align: left;
   
  }
  
  .about-image {
    position: relative;
    z-index: 2;
    width: 450px;
    height: 450px;
  }

}
